body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 20px;
    position: fixed;
    top: 0px;
    background: white;
    width: 100%;

    #nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;

        #nav1 {
            font-size: 20px;
        }

        #nav1:hover {
            font-size: 20px;
            color: blue;
        }
    }

    #b {
        display: flex;
        gap: 20px;

        #b1 {
            padding: 10px 20px;
            font-size: 20px;
            color: blue;
            background-color: white;
            border: 1px blue solid;
            border-radius: 5px;
            cursor: pointer;
        }

        #b1:hover {
            padding: 10px 20px;
            font-size: 20px;
            color: white;
            background-color: blue;
            border: 1px blue solid;
            border-radius: 5px;
            cursor: pointer;
        }

        #b2 {
            padding: 10px 20px;
            font-size: 20px;
            color: white;
            border: none;
            background-color: brown;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

#home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: navy;
    width: 100%;
    padding: 300px;

    #home1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        #home1head {
            font-size: 30px;
            font-weight: bold;
            color: white;
        }

        #home1sub {
            font-size: 18px;
            color: rgba(255, 255, 255, 0.682);

            b {
                color: white;
                font-size: 25px;
                font-weight: bold;
                border-bottom: 3px white solid;
            }
        }

        #home1btn {
            display: flex;
            gap: 10px;

            #home1btn1 {
                padding: 10px 20px;
                font-size: 15px;
                color: white;
                border: none;
                background-color: rgb(184, 24, 24);
                border-radius: 3px;
                cursor: pointer;
            }

            #home1btn2 {
                padding: 10px 20px;
                font-size: 15px;
                color: blue;
                border: none;
                background-color: white;
                border-radius: 5px;
                cursor: pointer;
            }

        }

        #home1body {
            display: flex;
            gap: 10px;
            color: white;
            font-size: 18px;

            a {
                color: orange;
            }
        }
    }
}